.__mainDivShadow {
    /*border-radius: 6px;*/
    align-items: stretch;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.__aparent {
    position: relative;
    display: block;
}

.__filter
,.__button{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background: rgba(0,0,0, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.___a2 {
    display: table-cell;
    vertical-align: middle;
}
.___a2:hover{
    background-color: aqua;
    color: crimson;
}


/* ---------------------- */

.___a{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.___a:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* ---------------------- */

.__link{
    display: table;
    /*height: 50%;*/
    width: 50%;
    margin:0 auto;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.__play{
    /*display: table;*/
    height: 50%;
    width: 100%;
    padding: 5%;
}

.__a2{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.___videostop{
    position: relative;
}


/* ---------------------- */
/* divText */

.__divTextElement {
    overflow:auto;
    padding: 10px;
    font-family: 'Hiragino Kaku', 'Gothic Pro', 'Meiryo', 'Lucida','Grande', 'Verdana','MS PGothic','sans-serif'
}

.__divTextLeftElement
, .__divTextRightElement {
    box-sizing:border-box;
    width: 50%;
    /*height: 100px;*/
    padding: 5px;
    float: left;
    text-align: center;
}

.__button2 {
    display: inline-block;
    margin: 0 auto;
    padding: 7px 20px;
    border: solid 2px rgba(169, 169, 169, 1);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: .4s;
    cursor: pointer;
}
.__button2:hover {
    background: rgba(169, 169, 169, 0.4);
}

.__button2:active {
    background: rgba(169, 169, 169, 0.4);
}
/* ---------------------- */