.__aparent {
    position: relative;
    display: block;
}

.__filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: black;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.3;
}

.__button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 50%;
    height: 70px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.__a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.___a:hover{
    background-color: aqua;
    color: crimson;
}

.__link{
    display: table;
    width: 50%;
    margin:0 auto;
    overflow: hidden;
    height: 50%;
    border-radius: 5px; 
    background: #00a0e9;
}
.__play{
    display: table;
    height: 50%;
    width: 100%;
    padding: 8%;
}

.__a2{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.___a {
    display: table-cell;
    vertical-align: middle;
}

.___videostop{
    position: relative;
}
